<h1 class="card-title section-break">Showing all <u> <%= params[:status] %> </u> Properties</h1>
<div class="card-text">
	<%= form_tag(view_properties_path, method: :get) do %>
		<div class="form-group row">
			<div class="col-md-9">
				<div class="form-group row">
					<div class="col">
						<%= search_field_tag :city, params[:city] , placeholder: "Type a society or city..", class: "form-control" %>
					</div>
				</div>
				<div class="form-group row">
					<div class="col form-inline"> <strong> <u>
						<%= label_tag :status, "Find by status" %> 
					</div>
					<div class="col-md-4">
							<%= select_tag :status, options_for_select([["All",''],"Pending", "Approved", "Rejected"], params[:status]), class: "form-control" ,include_blank: false %></u></strong> 
					</div>
					<div class="col form-inline"> 
						<%= label_tag :feature, "Stared Properties?" %> 
					</div>
					<div class="col-md-4">
							<%= select_tag :feature, options_for_select([["All",''],"star", "unstar"], params[:feature]), class: "form-control" ,include_blank: false %>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-2 form-inline">
						<%= label_tag :bedroom, "No. of rooms?" %>
					</div>
					<div class="col-md-3">
						<%= select_tag :bedroom, options_for_select([["All",''],"0", "1", "2", "3","4","5","6","7","8"], params[:bedroom]),include_blank: false, class: "form-control" %>
					</div>
					<div class="col form-inline">
						<%= label_tag :service, "Service" %> 
					</div>
					<div class="col-md-4">
						<%= select_tag :service, options_for_select([
																["All",''],
																["Rent","Rent"],
																["Buy","Sell"]
																], 
																params[:service]), class: "form-control", include_blank: false %>
					</div>
				</div>
			</div>
			<div class="col-md-3">
	 			 <%= submit_tag 'Search', class: "btn btn-primary my-2 my-sm-0", name: nil %>
			</div>	
		</div>
	<% end %>
</div>
