<div class="sidebar-cont">
	
<span class="side-head"> Want to schedule a visit? </span>
	<%= simple_form_for @offer do |form| %>
	    <%= form.error_notification %>
		<% flash.each do |key, value| %>
		    <% if flash[:notice] %>
				<div class="card">
					<div class="sidebar-module sidebar-module-inset">
						<div class="alert alert-<%= key %>"><%= value %></div>
					</div>
				</div>
			<% else %>
					<div class="sidebar-module-alert sidebar-module-inset-alert">
						<div class="alert alert-<%= key %>"><%= value %></div>
					</div>			<% end %>
		<% end %>
		<% unless flash[:notice] %>
		<div class="container">
			<div class= "form-group row">
				<%= form.input :full_name, input_html: { value: "#{$full_name}" },label: "Your Name" %>
			</div>
			<div class= "form-group row">
				<%= form.input :phone, input_html: { value: "#{$phone}" },label: "Your Phone Number" %>
			</div>
			<div class= "form-group row">
				<%= form.input :email, input_html: { value: "#{$email}" },label: "Your Email Address" %>
			</div>
			<div class="form-group row">
				<%= form.submit 'I am Interested', class: "btn btn-info btn-block" %>
			</div>
     	<%end %>
     </div>
	<% end %>
</div>
