<div class="rowr">
  <span class="h5"> Offers for this property -> <%= @offers.count %> </span>
</div>
<% unless @offers.count == 0 %>

  <div class="table-responsive">
      <table class="table table-responsive-sm table-hover">
          <thead>
            <tr>
              <th class="w-15">Created Date</th>
              <th class="w-35">Client Name</th>
              <th class="w-10">Actions</th>
            </tr>
          </thead>
          <tbody>
              <% @offers.each do |offer| %>
                <tr>
                  <td> <%=offer.created_at.strftime("%d/%m/%Y")  %> </td>
                  <td> <%= offer.full_name %> |
                      <em> <%= offer.phone if current_user.type == "AdminUser" %> </em>
                      <br> <em> <%= offer.email if current_user.type == "AdminUser" %> </em>
                  </td>  
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                    </div> 
                  </td>
                </tr>
              <% end %>
          </tbody>
      </table>
<% end %>
<div class="row center">
  <%= paginate @offers %>
</div>