<div class="btn-group property-but">
	<%= link_to 'Edit Property', edit_property_path(@property), class: "btn btn-light" if policy(@property).edit? %> 
	<%= link_to 'Edit Images', "#", class:"btn btn-light", data: {toggle: "modal", target: "#editImage"}  if policy(@property).edit? && @property.images.attached?  %>
 	<%= link_to featured_text(@property), toggle_featured_property_path(@property), class: featured_class(@property) if @property.status == "Approved" && admin? %> 

		<%= render "edit_images" %>

	 <% if @property.status == "Pending" %>
	 	<%= link_to "List this property", list_property_path(@property), class: "btn btn-success" if policy(@property).list? if admin? %>
	 	<%= link_to "Reject this property", unlist_property_path(@property), class: "btn btn-danger" if policy(@property).unlist? if admin? %>
	 <% else %>
	 	<%= link_to status_text(@property), toggle_status_property_path(@property), class: status_class(@property) if admin? %> 
	 	<%= link_to 'Delete this property', @property, method: :delete, data: { confirm: 'Are you sure?' } ,  class: "btn btn-danger" if policy(@property).destroy? %>
	 <% end %>
</div>
