<div class="col-md-4 album-index">
  <div class="card mb-4 shadow-sm"> 
      <% if property.images.attached? %> 
          <%= link_to image_tag(property.images.first, width: '100%', height:"200px") , property, class: "img-thumbnail"  %>
      <% else %>
        <%= link_to image_tag("img/item/1.jpg", width: '100%', height:"200px" ),property, class: "img-thumbnail" %> 
      <% end %>    
    <div class="card-header">
      <span class="card-text mh">  <% if user_or_admin property %> Unit <%= property.unit_no %> - <% end %> <%= property.bedroom %> Bedroom <%= property.property_type %> in  <%= property.society_name %>,  <%= property.city %></span>
    </div>
    <div class="card-body"> 
      <p class="card-text"> <%= property.furnishing %> and carpet area is <%= number_with_precision(property.carpet_area, precision: 0) %> sq. mt.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to 'Edit', edit_property_path(property) ,  class: "btn btn-sm btn-outline-secondary" if policy(property).edit? %>
          <%= link_to 'Delete', property, method: :delete, data: { confirm: 'Are you sure?' } ,  class: "btn btn-sm btn-outline-secondary" if policy(property).destroy? %>
        </div>
        <span class="h5"> <%= badge_helper (property.service) %> <%= number_to_currency(property.price,  unit: "₹", precision: 0) %></span>
      </div>
    </div>
  </div>
</div>


        