<div class="col-md-4 album-index">
  <div class="card mb-4 shadow-sm" id= "property-image" > 
      <% if property.images.attached? %> 
          <%= link_to image_tag(property.images.first, width: '100%', height:"200px") , property, class: "img-thumbnail"  %>
      <% else %>
        <%= link_to image_tag("img/item/1.jpg", width: '100%', height:"200px" ),property, class: "img-thumbnail" %> 
      <% end %>    
    <div class="card-header">
      <p class="card-text"> <%= property.bedroom %> Bedroom <%= property.property_type %> in <%= property.society_name %>,  <%= property.city %></p>
    </div>
    <div class="card-body"> 
      <p class="card-text"> <%= property.furnishing %> and carpet area is <%= number_with_precision(property.carpet_area, precision: 0) %> sq. mt.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to 'Edit', edit_property_path(property) ,  class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to 'Delete', property, method: :delete, data: { confirm: 'Are you sure?' } ,  class: "btn btn-sm btn-outline-secondary" %>
        </div>
        <h5 class=""> <%= badge_helper (property.service) %> <%= number_to_currency(property.price,  unit: "Rs. ", precision: 0) %></h5>
      </div>
    </div>
  </div>
</div>


        