<div class="container-fluid">
	<br>
	<div class="row">
		<h1> <%= @property.society_name %>, <%= @property.city %> </h1> 
	</div>
	<div class="row">
		<h5>  <i class="fa fa-map-marker"> </i></td> <td> <%= @property.address %>,  <%= @property.pincode %> </h5> 
	</div>
	<div class="row">
		<em> <h2> <%= badge_helper (@property.service) %></h2> </em>
	</div>
	<hr>
	<div class="row">
		<h3>About the property <i class="fa fa-star"> </i> </h3>
	</div>
	<div class= "table-card" >
		<table class="table table-borderless table-sm table-hover">
			<tbody>
				<tr>
		      		<td class="h5"> <i class="fa fa-bed"> </i> </td> <td> <%= @property.bedroom %> Bedroom</td>
			    </tr>
			    <tr>
		      		<td class="h5"> <i class="fa fa-home"> </i> </td> <td> <%= @property.property_type %></td>
			    </tr>
			    <tr>
		      		<td class="h5"> <i class="fa fa-object-ungroup"> </i> </td> <td> Carpet area is <%= @property.carpet_area.to_i %> sq. ft.</td>
			    </tr>
			    <% if @property.super_built_up_area.present? %>
			    <tr>
		      		<td class="h5"> <i class="fa fa-object-ungroup"> </i> </td> <td> Built-up area is <%= @property.super_built_up_area.to_i %> sq. ft.</td>
			    </tr>
			    <% end %>
			    <% if @property.on_floor.present? %>
 			    <tr>
		      		<td class="h5"> <i class="fa fa-unsorted" > </i> </td> <td> Property is on floor <%= @property.on_floor %> </td>
			    </tr>
			    <% end %>
			    <% if @property.total_floors.present? %>
			    <tr>
		      		<td class="h5"> <i class="fa fa-unsorted"> </i> </td> <td> Total no. of floors are <%= @property.total_floors%> </td>
			    </tr>
			    <% end %>
			</tbody>
		</table>
	</div>
		


		<div class="col-md-3 border-details">
			<p> Bathrooms are <%= @property.bathroom %> 
				and balconies are<%= @property.balcony %>
				with <%= @property.parking %> parking.  </p>			
		</div>
		<div class="col-md-3">
		<p> 
			<%= @property.furnishing %>  <br>
		</p>
		</div>
	</div> 
	<br>
	<div class="row">
		<%= @property.description %>
	</div>
	<%= link_to 'Edit', edit_property_path(@property) %> |
	<%= link_to 'Back', properties_path %>
</div>
