<h4 class="card-title">Search for your dream home.</h4>
<div class="card-text">
	<%= form_tag(properties_path, method: :get) do %>
	<div class="form-group row">
		<div class="col-md-9">
			<div class="form-group row">
				<div class="col-md-12">
					<%= search_field_tag :city, params[:city] , placeholder: "Type a society or city..", class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<div class="col form-inline">
					<%= label_tag :bedroom, "No. of rooms?" %>
				</div>
				<div class="col-md-3">
					<%= select_tag :bedroom, options_for_select(["0", "1", "2", "3","4","5","6","7","8"], params[:bedroom]),include_blank: true, class: "form-control" %>
				</div>
				<div class="col form-inline">
					<%= label_tag :service, "Want to buy or rent?" %> 
				</div>
				<div class="col-md-4">
					<%= select_tag :service, options_for_select([
															["Rent","Rent"],
															["Buy","Sell"]
															], 
															params[:service]), class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="col-md-3">
				<%= submit_tag 'Search', class: "btn btn-primary btn-lg btn-block", name: nil %>
		</div>	
	</div>
	<% end %>
</div>
