<div class="container">
	<div class="card">
	  <div class="card-body">
	    <h4 class="card-title">Search for your dream home.</h4>
	    <p class="card-text">
			<%= simple_form_for :search, url: properties_path, method: "GET", html: { class: 'form-inline' } do |f| %>
				  <%= f.input :property_type, label: "Property Type",  collection: $property_type, as: :check_boxes %>
				  <%= f.input :availability, label: "Availability", collection: $availability, as: :check_boxes %>
				  <%= f.submit "Search", class: "btn btn-primary" %>
	   		      <%= link_to "Reset", properties_path  %>
			<% end %>
		</p>
	  </div>
	</div>
</div>
