<div class="row center">
  <%= paginate @companies %>
</div>
<div class="table-responsive">
    <table class="table table-responsive-sm table-hover">
        <thead>
          <tr>
            <th class="w-5">ID</th>
            <th class="w-15">Created Date</th>
            <th class="w-35">Company Name</th>
            <th class="w-30">Sub Domain</th>
            <th class="w-15">Actions</th>
          </tr>
        </thead>
        <tbody>
            <% @companies.each do |company| %>
              <tr>
                <td> <%= company.id %>  </td>
                <td> <%=company.created_at.strftime("%d/%m/%Y")  %> </td>
                <td> <%= company.name %> <%= company.status %> </td>  
                <td> <%= company.subdomain %> | <%= company.status %>  </td>
                <td>
                  <div class="btn-group">
                    <%= link_to 'Edit', edit_company_path(company), class: "btn btn-light btn-sm" if policy(company).edit? %> 
                     <%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } ,  class: "btn btn-danger btn-sm" if policy(company).destroy? %>
                     <%= link_to status_text_company(company), toggle_status_company_path(company), class: status_class_company(company) %> 
                  </div>
                </td>
              </tr>
            <% end %>
        </tbody>
    </table>
<div class="row center">
  <%= paginate @companies %>
</div>