<!DOCTYPE html>
<html>
  <head>
    <title>RealestateApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "shared/home_nav" %>
      <div class="body-main">
        <%= yield %>
      </div>
      <%= render "shared/home_footer" %>
  </body>
</html>
